#root {
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  color: rgba(75, 85, 99, 1);
  margin: 0;
  padding: 0;
 
}

.home-container {
  text-align: center;
  margin-top: 50px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
